<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	span{
		cursor : pointer;
	}
	span.on{
		font-weight : bold;
	}
	
	#container{
		margin : 0 auto;
		width : 1000px;
	}
	
	table {
		width : 100%;
	}
	
	button{
		width : 100%;
	}
	
</style>
</head>
<body>
	<div id="container">
		<div class="sort">
			<span class="on" id="recent" data-sort="recent">최신순</span>
			<span class="" id="money" data-sort="money">결제금액순</span>
		</div>
		<table border="1">
			<tr>
				<th>상품 이름</th>
				<th>상품 가격</th>
				<th>주문 개수</th>
				<th>결제 금액</th>
				<th>주문 날짜</th>
			</tr>
			<th:block th:each="order : ${orders}">
			<tr th:object=${order}>
				<td th:text="*{productName}"></td> <!-- product테이블에 있음 -->
				<td th:text="*{productPrice}"></td>
				<td th:text="*{productCount}"></td>
				<td th:text="*{orderPrice}"></td>
				<td th:text="*{orderDate}"></td>
			</tr>
		</table>
		<button type="button" onclick="location.href='/product/list'">상품 목록</button>
	</div>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script th:inline="javascript">
		let sort= [[${sort}]]
		const $spans = $("div.sort span");
		
		//모든 span태그의 class 속성을 ""로 만들어라
		$("span").attr("class","");
		$("span#"+sort).attr("class","on")
		
		$spans.on("click", function(){
			location.href=`/order/list?sort=${$(this).data("sort")}`;
		})
	</script>
</body>
</html>









