<!DOCTYPE html>
<html lang=“en” xmlns:th=“http://www.thymeleaf.org”>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- th:* 타임리프 전용 속성, 브라우저는 이를 무시한다.  -->
	<!-- th : text, th:utext
		JSP의 EL표현식인 ${}와 마찬가지로 ${}를 사용해서 컨트롤러에서 전달받은 
		데이터에 접근할 수 있다.  -->
		<div th:text="${lastName}">이 자리에는 성이 들어감</</div>
		
		<!-- 문자열 결합과 리터럴 치환 -->
		<span  th:text"'My name is' +${LastName}+','+${firstName}"></span>
		<span  th:text"|My name is ${LastName},{firstName|"></span> 

		<span  th:text="${'<i>GilDong, Hong</i>'}">성과 이름</span> 
</body>
</html>